/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
  }
  
  .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .todo-input {
    width: calc(100% - 100px);
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
  }
  .btn{
    width: 130px;
    height: 35px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 5px;
  }
  .compbtn{
    width: 200px;
    height: 40px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 5px;
  }
  .add-btn {
    width: 100px;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .add-btn,.btn ,.compbtn
  :hover {
    background-color: #3e9342;
  }
  
  .todo-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .todo-item {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s ease;
  }
  
  .todo-item:last-child {
    margin-bottom: 0;
  }
  
  .completed {
    text-decoration: line-through;
    color: #888;
  }
  
  .delete-btn {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .delete-btn:hover {
    background-color: #dd1919;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 600px) {
    .container {
      width: 90%;
      margin: 20px auto;
    }
  
    .todo-input {
      width: calc(100% - 90px);
    }
  
    .add-btn {
      width: 90px;
    }
  
    h1 {
      font-size: 24px;
    }
  
    .todo-item {
      padding: 10px;
    }
  
    .delete-btn {
      padding: 3px 8px;
    }
  }
  